@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bubble-svg {
    font: bold 70px Century Gothic, Arial;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
  }

  .bubble-text {
    fill: white;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
    animation: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
    display: flex;
    align-self: center;
    justify-self: center;
  }

  .bubble-hover:hover {
    animation: 1s pulsate infinite;
  }

  @keyframes pulsate {
    50% {
      stroke-width: 6px;
    }
  }

  /* Tailwind CSS animations */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  /* Add animation to the cloud */
  .animate-cloud {
    animation: float 3s ease-in-out infinite;
  }
}
